$main-color: #00C341;

.ui-btn {
  height: 40px;
  line-height: 40px;
  padding: 0 44px;
  background-color: $main-color;
  color: #fff;
  border-radius: 100px;
  text-align: center;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  &.outline {
    border: 1px solid $main-color;
    background-color: #fff;
    color: $main-color;
  }
}
