@import "../common.scss";

.tex-menu-items {
  padding: 3px;
  border-bottom: 1px solid $color-gray;
}
.tex-menu-item {
  box-sizing: border-box;
  border: 0;
  background-color: none;
  display: inline-block;
  height: 28px;
  padding: 2px 4px;
  outline: none;
  appearance: none;
  border: 1px solid #fff;
  &:active, &:hover {
    border: 1px solid $color-gray;
  }
  &-f {
    display: inline-block;
    height: 30px;
    padding: 2px 15px;
    position: relative;
    &:hover {
      background-color: $color-gray;
    }
    svg {
      position: absolute;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      margin: auto;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}
